
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial,sans-serif;

}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.move-icon {
    height: 50px;
}
.move-icon-button {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.move-button {
    background-color: transparent;
    border: none;
    width: 200px;
    height: 200px;
    padding: 0;
    border-radius: 100px;
    margin-right: 10px;
    cursor: pointer;
    overflow: hidden;
}
.result {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.reset-score, .auto-play-button {
    
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}
.confirmation{
    margin-top: 25px;
}
.show-move,
.confirm-message{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.bottom-buttons{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
    justify-content: center;
}